<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sss.safesecure">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sas_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sas_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.sss_Theme"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.sss.safesecure.LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.sss.safesecure.MainActivity"
            android:label="Home"
            android:theme="@style/Theme.NavigationMenu.NoActionBar">
        </activity>
        <activity
            android:name="com.sss.safesecure.IntroSplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>